<!-- /views/index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= pageOpt.title %></title>
    <style>
      body {
        background-color: <%= pageOpt.backgroundColor %>;
      }
    </style>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= pageOpt.title %></h1>
    <p>Welcome to <%= pageOpt.title %></p>
  </body>
</html>
